.form-control,
.form-label {
  width: 100%;
}

.sign-in {
  height: 80%;
}

.user-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 77.5px;
}

@media (min-width: 767px) {
  .card-blog {
    height: 550px;
  }

  .card-blog .card-img img {
    height: 230px;
    width: 100%;
  }
}

@media (max-width: 760px) {
  #header .logo a {
    font-size: 0.9rem;
  }

  .user-image {
    margin-left: 45%;
  }
}

@media (max-width: 468px) {
  .card-blog {
    margin-bottom: 50px;
  }
}

.pc-sidebar .m-header {
  height: initial;
}

.pcm-logo .logo.logo-lg {
  height: 60px;
}

.b-brand {
  display: block;
  margin: auto;
}

.pc-header .user-avtar {
  height: 40px;
}

.blog-post td {
  white-space: normal !important;
  word-wrap: break-word;
}

.blog-post table {
  text-align: center;
  overflow-y: scroll;
}

.blog-post .card.table-card .pro-scroll {
  overflow-y: scroll;
}

.checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100px;
}

.footer-nav-link {
}

.footer-nav-link a {
  color: #fff !important;
  margin: 0 10px;
}

.footer-nav-link a:hover {
  text-decoration: underline;
}

#main {
  margin-top: -70px;
}